input, button {
    height: 40px;
}

input {
    width: 70%;
}

button {
    width: 30%;
}

#new-task {
    gap: 10px;
}

li {
    cursor: pointer;
}

ul li:first-child {
    padding-top: 30px;
    border-top: 0;
}

.list-group-item {
    border: 1px solid grey;
    border-left: 0;
    border-right: 0;
    padding-right: 30px;
    padding-left: 30px;
}

ul li:last-child {
    padding-bottom: 30px;
    border-bottom: 0;
}

.fa-trash {
    cursor: pointer;
}