input, button {
    height: 40px;
}

input {
    width: 70%;
}

button {
    width: 30%;
}

#new-task {
    gap: 10px;
}

ul li:first-child {
    padding-top: 30px;
}

ul li:last-child {
    padding-bottom: 30px;
}
